/* General Document styling */
/* Element CSS */
html {
    background-color: #333;
    font-size: 22px;
}

header {
    width: 40% ;

}

body {
    
}

main {
    font-family: monospace;
}

hr {
    border: 1px dashed;
}

p {
    color: rgb(255, 239, 213, 0.8);

}

/* Class CSS */
.gray {
    color: gray;
}

.highlight {
    background-color: rgb(240, 198, 116, 0.75);
}

/* ID CSS */
#poem {
    font-style: italic;
}

/* CSS action style */
a:hover, a:active {
    color: #eee;
}

a:visited {
    color: papayawhip;
}

/* CSS heading style */
h2 {
    color: #4CC9F0;
    border: 1px dashed #F1FFE7;
    padding: 2em;
}
h3 {
    color: whitesmoke;
    width: 50%;
    background-color: skyblue;
}

/* CSS Listing styling */
::-moz-list-bullet {
    color: #78F2F0;
}

ul li, ol li {
    color: whitesmoke;
}