/* General Document styling */
/* Element CSS */
* {
    box-sizing: border-box;
}

html {
    background-color: #333;
    font-size: 22px;
}

header {
    width: 50% ;

}

body {
    padding-left: 5%;
}

main {
    font-family: monospace;
}

hr {
    border: 1px dashed;
}

p {
    color: rgb(255, 239, 213, 0.8);
    line-height: 1.5;

}

/* Class CSS */
.gray {
    color: gray;
}

.highlight {
    background-color: rgb(240, 198, 116, 0.75);
}

.container {
    padding: 1.5em;
    margin: 1.5em;
}


/* ID CSS */
#poem {
    font-style: italic;
}

/* CSS action style */
a:hover, a:active {
    color: #eee;
}

a:visited {
    color: papayawhip;
}

/* CSS heading style */
h2 {
    color: #4CC9F0;
    border: 1px dashed #F1FFE7;
    font-size: 2rem;
    padding: 2em;
    width: 200%;
}
h3 {
    color: whitesmoke;
    width: 300px;
    outline: 2px solid #6290C3;
    outline-offset: 10px;
}

/* CSS Listing styling */
::-moz-list-bullet {
    color: #78F2F0;
}

ul li, ol li {
    color: whitesmoke;
    
}

/* CSS Interaction */
form label {
    color: whitesmoke;
}

/* Chapter 3 Color */
/*

body {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.5;
    background: papayawhip;
    color: papayawhip;
}

*/

/* Chapter 4 Unit & Sizing */

/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

h1 {
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
}

main {
    font-size: 2rem;
}

*/

/* Chapter 5 Box Model */
/* 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: dashed red;
    border-top: 5px solid;
    border-right: 10px solid green;
    border-bottom: 1.5rem;
    border-left: 2rem;
    margin-top: 2em;
    margin-bottom: 4em;
    margin-left: 3em;
    margin-right: 2em;
    padding: 2em;
}

.circle {
    background-color: gold;
    width: 50px; 
    height: 50px;
    border: 2px solid;
    border-radius: 25px;
} 

*/

/* Chapter 6 Typography */
/*

body {
    padding: 5%;
    font-size: 1rem;
}

input, button {
    color: inherit;
}

p {
    text-transform: none; 
    text-decoration: underline;
    text-align: justify;
    text-indent: 2em;
    line-height: 1.5;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    font-weight: normal;
    font-family: 'Courier New', Courier, monospace;
}

*/

/* Chapter 7 Styling Link */
/*

body {
    padding: 5%;
    font-size: 2rem;
    font-family: monospace;

}

a {
    text-decoration: none;
    cursor: pointer;
    color: cyan;
}

a:visited {
    color: cyan;
}

a:hover, a:focus {
    color: #6290C3;
    opacity: 0.75;
}

a:active {
    color: cadetblue;
}

*/

/* Chapter 8 Listing Styling */

/* ol {
    list-style-type: decimal;
}

ul {
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color: #4CC9F0;
    line-height: normal;
    list-style-image: url('../images/check_circle.png');
    list-style: square;
} */

ul li:nth-child(even) {
    color: #6290C3;
}

::marker {
    color: antiquewhite;
    font-size: 1.5em;
    content: "Featured in most car";
}